.go-up-icon {
	height: 30px;
    cursor: pointer;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

.go-up-icon:hover {
	color: crimson;
}

.go-up-button {
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    position: fixed;
    height: 30px;
    width: 30px;
    bottom: 0;
    right: 0;
}
