.movie-thumbnail {
    width: 165px; 
    height: 240px; 
    object-fit: fill; 
    border: 4px solid maroon;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;
}

.star {
    height: 12px;
}