.movie-thumbnail {
    width: 165px; 
    height: 240px; 
    object-fit: fill; 
    border: 5px solid maroon;
    margin-bottom: 30px; 
    cursor: pointer;
    margin: 15px;
}

.star {
    height: 12px;
}