nav {
	position: relative;
	background: black;
	border-radius: 5px;
	margin: 2%;
	display: flex;
	align-items: center;
	color: white;
	justify-content: space-between;
}

.menu {
	margin-left: 15px;
}

.menu ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.item,
.logo,
.search-input {
	margin-right: 20px;
	font-size: 16px;
	color: #f1f1f1;
	cursor: pointer;
	display: flex;
	align-items: center;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
}

.item:hover {
    border-bottom: 1px solid white;
    color: crimson;
}

.hamburger-icon {
	display: none;
	position: absolute;
	right: 10px;
	padding: 5px;
	color: #fff;
	height: 40px;
	cursor: pointer;
}

.icon {
	height: 25px;
}

.search {
	border-radius: 3px;
	height: 20px;
	padding: 5px;
	border: 1px solid black;
}

.search:focus {
	outline: none;
}

.logo {
	font-size: 1.5rem;
	margin: 0.5rem;
}

@media screen and (max-width: 1100px) {
	nav {
		flex-direction: column;
		align-items: flex-start;
	}
	.menu {
		width: 100%;
		margin-left: 0;
		border-radius: 0 0 5px 5px;
		display: initial;
	}

	.menu ul {
		flex-direction: column;
		height: auto;
	}

	.item, .search-input {
		border-top: 1px solid rgba(255, 255, 255, 0.555);
		text-align: center;
		margin-right: 0px;
		padding: 10px;
	}

	.hamburger-icon {
		display: block;
	}

    .item:hover, .search-input:hover {
        border-bottom: 1px solid black;
        background-color: crimson;
        color: black;
    }
}
