.movies-container {
	background: rgba(183, 43, 129, 0.25);
	height: 100vh;
    overflow-y: scroll;
}

.movies-container::-webkit-scrollbar {
    display: none;
}

.page-container {
    height: 100vh;
    width: 60%;
	margin: auto;
    display: flex;
    align-items: end;
}

.banner {
    max-width: 95%;
    border: 4px solid black;
    margin-top: 2%;
    border-radius: 5px;
}


/*TODO: resize */
@media screen and (max-width: 800px) {
    .page-container {
        width: 100%;
    }
}

@media screen and (min-width: 2000px) {
    .page-container {
        width: 40%;
    }
}
